.DS_Store
project/build.properties
project/project
target
node_modules
npm-debug.log
Gemfile.lock
scratch
*.pyc
env/
_site/
*.gem
*yardoc
*.gv
*tmp
*.idea
.vagrant
*.rules
.cache
*.swp
tcle.log*
systemnode-*-verbose*.log
*current-mcxstate.json
*current-mcxstate.json.bak
*-current.json
*-current.json.bak
project/arcanist/transcriptic_test_engine/.phutil_module_cache
browserify-cache.json
.ensime
.ensime_cache
tags
venv/
.flooignore
.floo
*.sc
tmp-*
ensime.sbt
wc*-mcx*-logged-states/
slowSerializationObjects/
